.navbar{
    background-color: #8CAAEB;
}

.img-logomarca{
    width: 15%;
}

.card-col{
    padding: 10vh 5vh 0vh 5vh;
    display: flex;
    justify-content: center;

}

.card{
    border-color: #8CAAEB;
    border-radius: 45px !important;
    width: 300px !important; 

}

.card-header{
    background-color: #8CAAEB;
    border-color: #8CAAEB; 
    height: 50px;
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    z-index: 0;
    
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
    background-color: #F4F0F0;
    border-bottom-left-radius: 45px !important;
    border-bottom-right-radius: 45px !important;
}

.card-text{
    position: relative;
    bottom: 40px;
}

.phone-icon{
    width: 30%;
}

.phone-link{
    display: flex;
    align-content: center;
    justify-content: center;
}

.plus-img{
    width: 50%;
}

.profile-img{
    width: 50%;
    position: relative;
    bottom: 65px;
    z-index: 1;
    border-radius: 50%;
}

.social{
    width: 10%;
    margin-left: 2vh;
}

.footer{
    height: 50px;
    margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.navbar.navbar-6{
    height: 80%;
    width: 80%;
}

.navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=fff');
    position: relative;
    left: 110px;
}

.toggle-color-drop{
    background-color: #8CAAEB;
}

.toggle-a-color{
    color: white;
}

.modal-box{
    border-radius: 30px; 
    border: solid 1px black;
    width: 343px;
    height: 599px;
}

.header-modal{
    background-color: black;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    height: 80px;

}

.modal-title{
    color:white;
}

.body-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    border-color: darkgrey;
}

.footer-modal{
    background-color: black;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hangout-icon{
    width: 15%;
    height: 15%;
}

.hangout-link{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
}

.iphone-home{
    width: 15%;
}

.icon-call{
    width: 10%;
    height: 10%;
}

.call{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.modal-img{
    width: 50%;
    border-radius: 50%;
    margin-bottom: 5vh;
}

.evaluation{
    background-color: #8CAAEB;
    color: white;

}

.evaluation-button{
    background-color: coral;
    color: white;
}

.evaluation-footer{
    display: flex;
    justify-content: center;
    align-content: center;
}