body{
    background-color: #F8EFF0;
}
.navbar{
    background-color: #8CAAEB;
}

.img-logomarca{
    width: 15%;
}
.pt01{
    background-color: #FFFFFF;
    border: 3px solid #7B98E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
    font-weight: bold;
    font-size: 17px;
}
.pt02{
    border: 3px solid #7B98E5;
    background-color: #7B98E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 30px 30px 0px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    flex-shrink: 3;
}
.container{
    width: 80%;
}
.linha{
    height:130px;
    margin-bottom: 3%;
}
.navbar a{
    color: #F8EFF0;
}
.navbar a:hover{
    color: rgb(93, 112, 197);
}
.social{
    width: 10%;
    margin-left: 2vh;
}

.footer{
    position: fixed;
    height: 50px;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

@media(max-width: 1198px){

}
@media(max-width: 990px){

}
@media(max-width: 766px){
    .social{
        width: 5%;
        margin-left: 2vh;
    }
    .footer{
        position: absolute;
    }
    .linha{
        flex-wrap: nowrap;
    }
    .pt02{
        font-size: 13px;
        max-width: 25%;
    }

}

@media(max-width: 486px){
    .img-logomarca{
        width: 30%;
    }
    .footer{
        position: absolute;
        height: 64px;
        width: 100%;
        margin-top: 5vh;
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
    }
    .social{
        width: 9%;
        margin-left: 10vh;
    }
    .pt02{
        font-size: 11px;
        max-width: 25%;
    }
    .linha{
        height: 110px;
    }
}